@model IEnumerable<CollegeApp.Entities.RoleAuthor>

@{
    ViewData["Title"] = "Role List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Role List</h4>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New Role</a>
</p>
<table class="table table-bordered table-hover table-striped table-checkbox dataTable no-footer">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccessPages)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessPages)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit Role</a> |
                    <a  asp-action="Delete" class="btndeletes btndelete_@item.ID" asp-route-id="@item.ID">Delete Role</a>
                </td>
            </tr>

        }
    </tbody>
</table>

<script>
    $(".btndeletes").click(function () {
        var id = $(this).attr("data-deleteid");
        if (confirm('Are you sure you want to delete this role? All Users are deleted as well who is associated with this role')) {
            return true;
        }
        else {
            return false;
        }
        
    })
</script>